.header {
   display: flex;
   align-items: center;
}

.header__content {
   display: flex;
   align-items: center;
   column-gap: 16px;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.header__title {
   font-family: var(--second-font-family);
   font-size: var(--h1-text-size);
   color: var(--main-color);
}
